[submodule "src/api/java/thaumcraft/api"]
	path = src/api/java/thaumcraft/api
	url = https://github.com/Azanor/thaumcraft-api.git
[submodule "src/api/java/mods/railcraft/api"]
	path = src/api/java/mods/railcraft/api
	url = https://github.com/CovertJaguar/Railcraft-API.git